/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/* ==========================================================================
   Fonts Used
   ========================================================================== */

@font-face {
  font-family: 'Oxygen Light';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Films/Oxygen/Oxygen-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Oxygen Bold';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Films/Oxygen/Oxygen-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Century-Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Films/Century-Gothic.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v16/TK3iWkUHHAIjg752GT8Gl-1PKw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ==========================================================================
   Colors Used
   ========================================================================== */

/* Global variables used */

:root
{
    --backgroundColor  : #EEEEEE;   /* light gray */
    --headerBackgrColor: #808080;   /* smooth grey */
    --headerTextColor  : #000000;   /* black */
    --headerHoverColor : #D6CF40;   /* dark yellow */
    --mainTitleColor   : #FFF645;   /* yellow gold */
    --titleBackgrColor : #000000;   /* black */
    --textBackgrColor  : #FFFFFF;   /* white */
    --titleBackgrColor : #000000;   /* black */
    --textColor        : #FFFFFF;   /* white */
    --separatorColor   : #000000;   /* black */
    --titleColor       : #000000;   /* black */
    --subtitlesColor   : #000000;   /* black */
    --linkColor        : #0000FF;   /* blue */
    --linkHoverColor   : #228B22;   /* green forest */
    --linkVisitedColor : #551a8b;   /* purple */
    --anchorBackgrColor: #7D7D7D;   /* grey */
    
    --textFont     : 'Oxygen Light';
    --headerFont   : 'Oxygen Bold';
    --mainTitleFont: 'Century-Gothic';
    --subtitlesFont: 'Oswald';
    
}

/* For mobile phones: */
@media only screen and (max-width: 768px){
  .section {width: 8.33%;}
  .need {width: 16.66%;}
  .media {width: 26.66%;}
}

  /* For tablets: */
@media only screen and (min-width: 600px) {
  .section {width: 8.33%;}
  .need {width: 16.66%;}
}

  /* For desktop: */
@media only screen and (min-width: 268px) {
  .section {width: 100.33%;}
  .need {width: 94.66%;}
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* Body of all the content in the page */

body{
	background-color: var(--backgroundColor); 
	font-family: var(--textFont);
	font-size: 100%;
    margin: 0 auto; /* IMPORTANT --> these two things to make it centered and static */
    width:  1260px;
}

/* Anchor to go up to the front of the page */

.to_top{
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  width: 25px;
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background: transparent;
  padding: 15px; /* Some padding */
  border-radius: 30px; /* Rounded corners */
  font-size: 20px; /* Increase font size */
  color: white;
  background-color: var(--anchorBackgrColor);
}

.to_top:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* 
 =========================================================
 Header
 ========================================================= */

/* Header of the webpage */

nav {
  font-family: var(--headerFont);
  font-size: 20px;
  padding-top: 19px;
  margin-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--headerBackgrColor); 
  position: static;
}

nav > a {
  color: var(--headerTextColor);
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow:hidden;
  transition: .3s;
}

/* Highlights the links to the different sections when the mouse arrow is over it (Sinopsis, Necesidades, ...)*/

#top a:link, #top a:visited  {
    padding: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* Settings of the header when any sections has been visited */

#top a::after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: var(--headerHoverColor);
  }

#top a:hover::after {
    cursor:point;
    width: 100%;
    left: 0;
}

/* 
 =========================================================
 All sections
 ========================================================= */

/* Content of the different areas */

#Sinopsis , #Necesidades , #Tecnologias, #Impacto, #Referencias{
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: var(--textBackgrColor); 
}

/* Titles of the different areas */

.section_title{
    font-family: var(--mainTitleFont);
    padding-top: 20px;
    text-align: center;
    background-color: var(--titleBackgrColor); 
    color: var(--mainTitleColor); /* .color-primary-6 */
    height: 60px;
    font-size: 25px;
}


/* 
 =========================================================
 Necesidades Area
 ========================================================= */

/* Subareas of the main area 'Necesidades' (Gadget1, Gadget2, ...)*/

.need{
  padding-top: 19px;
  margin-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  margin-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
    
  /* Grid-area created for every Gadget --> 6 rows and 2 columns */
    
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(50px, 0px);
  grid-column-gap: 10px;
  margin-top: 20px;
  margin-bottom: 100px;
}

/* Line that separates each gadget description */

.separador{
    color: var(--separatorColor);
    width: auto;
    margin-top: 50px;
    overflow: visible;
    clear: both;
}

/* Main title of the subarea (Dispositivo (Interfaz/tecnología))*/

.need_title_main{
    grid-column: 1 / 2;
    grid-row: 1;
    width: 20px;
}

/* Main title of every subarea (Gadget) */

.need_value_main{
    font-style: italic;
    font-size: 30px;
    grid-column: 1 / 1;
    color: darkgrey;
    grid-row: 1;
    padding-left: 60px;
    text-align: center;
}

/* 'Primera Aparición' subtitle */

#Title1_1, #Title2_1, #Title3_1, #Title4_1, #Title5_1, #Title6_1, #Title7_1{
    color: black;
    padding-top: 17px;
    grid-column: 1 / 1;
    grid-row: 3;
}

/* Value of the first appearance*/

#Value1, #Value2, #Value3, #Value4, #Value5, #Value6, #Value7{
    color: darkgrey;
    margin-top: 38px;
    grid-column: 1 / 1;
    grid-row: 3;
    text-align: center;
}

/* Subtitles and description of every gadget first appearance */

#Title1_2, #Text1, #Title2_2, #Text2, #Title3_2, #Text3, #Title4_2, #Text4, #Title5_2, #Text5, #Title6_2, #Text6, #Title7_2, #Text7{
    color: darkgrey;
    grid-column: 1 / 1;
}

/* Dispositivo - Primera Aparición - Necesidad */
#Title1_1, #Title2_1, #Title3_1, #Title4_1, #Title5_1, #Title6_1, #Title7_1 , 
.need_title_main ,
#Title1_2, #Title2_2, #Title3_2, #Title4_2, #Title5_2, #Title6_2, #Title7_2 {
    font-family: var(--subtitlesFont);
    font-style: italic;
    text-decoration: underline;
}

#Title1_2, #Title2_2, #Title3_2, #Title4_2, #Title5_2, #Title6_2, #Title7_2{
    color: var(--subtitlesColor);
    grid-column: 1 / 1;
    grid-row: 4;
}

#Text1, #Text2, #Text3, #Text4, #Text5, #Text6, #Text7 {
    grid-column: 1 / 1;
    grid-row: 5;
}

/* Parameters of the videos and the image */

.media{
    grid-column: 2 / 3;
    grid-row: 1 / 6;
    padding: 20px 20px 20px 110px;
    width: 500px;
    height: 300px;
    float: right;
}

/* 
 =========================================================
 Tecnologias Area
 ========================================================= */

/* Subsection titles underlined */

.subsection_title {
    padding-left: 10px;
    margin-left: 10px;
    font-style: italic;
    text-decoration: underline;
    padding-right: 10px;
    margin-right: 10px;
}

/* Text/Content of the subsections */

.section_text, .subsection_text{
    padding-left: 20px;
    margin-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
}

/* 
 =========================================================
 Referencias Area
 ========================================================= */

/* Content of the total area */

.referencias{
  margin-left: 60px;
}

/* References link description titles */

.autor, .titulo{
  font-style: italic;
}

/* Format of the 3 different links */

#ref1 .link {
  margin-left: 80px; 
}

#ref2 .link {
  margin-left: 57px; 
}

#ref3 .link {
  margin-left: 42px; 
}

/* Format of the 'last visited' text (ultima visita) */

#ref1 .visita {
  margin-left: 130px; 
}

#ref2 .visita {
  margin-left: 57px; 
}

#ref3 .visita {
  margin-left: 207px; 
}

/* Default settings for links in this area */

.link a{
    color: var(--linkColor); 
}

/* Default settings for links in this area when mouse is over them */

.link a:hover{
    color: var(--linkHoverColor); 
}

/* Default settings for links in this area after they are clicked */

.link a:visited{
    color: var(--linkVisitedColor); 
}

