/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/* ==========================================================================
   Colors Used
   ========================================================================== */

/* As hex codes */

.color-primary-1 { color: #2C3539 } /* gunmetal gray */
.color-primary-2 { color: #F9F9FF } /* dark white */
.color-primary-3 { color: #116466 } /* blue sapphire */
.color-primary-4 { color: #D9B08C } /* peach-orange */
.color-primary-5 { color: #FFFFFF } /* white */
.color-primary-6 { color: #000000 } /* black */
.color-primary-7 { color: #FFCB9A } /* light peach-orange */
.color-primary-8 { color: #D1E8E2 } /* light blue green */
.color-primary-9 { color: #D9B08C } /* dark grey peach-orange */
.color-primary-10 { color: #007FFF } /* azure */
.color-primary-11 { color: #BFFF00 } /* lime */
.color-primary-12 { color: #551a8b } /* purple */
.color-primary-13 { color: #6fba26 } /* lime */

/* For mobile phones: */
[class*="section"] [class*="need_value"] [id*="Text"]{
  max-width: 500px;
  max-height: 80px;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .section {width: 8.33%;}
  .need {width: 16.66%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .section {width: 100.33%;}
  .need {width: 76.66%;}
}


/* ==========================================================================
   Fonts Used
   ========================================================================== */

@font-face{
    font-family: 'Barlow';
    src: url('../fonts/Technology/Barlow/Barlow-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Barlow Thin';
    src: url('./fonts/Technology/Barlow/Barlow-Thin.ttf') format('truetype');
}

@font-face{
    font-family: 'Barlow Thin Italic';
    src: url('./fonts/Technology/Barlow/Barlow-Thin.ttf') format('truetype');
}

@font-face{
    font-family: 'Barlow Medium';
    src: url('./fonts/Technology/Barlow/Barlow-Medium.ttf') format('truetype');
}


@font-face{
    font-family: 'Roboto';
    src: url('./fonts/Technology/Roboto/Roboto-Thin.ttf') format('truetype');
}

@font-face{
    font-family: 'Roboto Thin Italic';
    src: url('./fonts/Technology/Roboto/Roboto-ThinItalic.ttf') format('truetype');
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* Body of all the content in the page */

body{
    background-color: #2C3539; /* color-primary-1*/
	font-size: 100%;
    
    margin: 0 auto; /* IMPORTANT --> these two things to make it centered and static */
    width:  1260px;
}

/* Anchor to go up to the front of the page */

.to_top{
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  width: 25px;
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background: transparent;
  padding: 15px; /* Some padding */
  border-radius: 30px; /* Rounded corners */
  font-size: 20px; /* Increase font size */
  color: white;
  background-color: grey;
}

/* 
 =========================================================
 Header
 ========================================================= */

/* Header of the webpage */

nav {
  font-size: 20px;
  font-family: 'Barlow Medium', sans-serif;
  padding-left: 20px;
  padding-top: 19px;
  margin-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

nav > a {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 

nav > a:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}

/* Highlights the links to the different sections when the mouse arrow is over it (Sinopsis, Necesidades, ...)*/

#top a:link, #top a:visited  {
    padding: 14px;
    text-align: center;
    color: #F9F9FF; /* color-primary-2 */
    text-decoration: none;
    display: inline-block;
}

/* Settings of the header when any sections has been visited */

#top a:hover, #top.a:active {
    background-color: #116466; /* .color-primary-3 */
}

/* 
 =========================================================
 All sections
 ========================================================= */

/* Content of the different areas */

#Sinopsis , #Necesidades , #Tecnologias, #Impacto, #Referencias{
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #116466; 
    color: #D9B08C; /* .color-primary-4 */
}

/* Titles of the different areas */

.section_title{
    margin-bottom: 30px;
    text-align: center;
    padding-left: 30px;
    padding-top: 20px;
    background-color: #2C3539; 
    font-family: 'Barlow Thin';
    font-size: 30px;
    
    color: #D9B08C; 
    height: 70px;
}

#Sinopsis_Title, #Necesidades_Title, #Impacto_Title, #Tecnologias_Title, #Referencias_Title{
    height: 60px;
    padding-top: 10px;
}

.section_text, .subsection_text{
    color: #FFFFFF; /* color-primary-5 */
    padding-left: 20px;
    margin-left: 20px;
    
    padding-right: 20px;
    margin-right: 20px;
}

/* 
 =========================================================
 Necesidades Area
 ========================================================= */

/* Subareas of the main area 'Necesidades' (Gadget1, Gadget2, ...)*/

.need{
  padding-top: 19px;
  margin-top: 10px;
    
  padding-bottom: 10px;
  margin-bottom: 10px;
    
  padding-left: 20px;
  margin-left: 20px;
    
  padding-right: 20px;
  margin-right: 20px;
    
  /* Grid-area created for every Gadget --> 6 rows and 2 columns */
    
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(50px, 0px);
  grid-column-gap: 10px;
  margin-top: 20px;
  margin-bottom: 100px;
}

/* Line that separates each gadget description */

.separador{
    color: #000000; /* color-primary-6 */
    width: 1060px;
    margin-top: 50px;
    overflow: visible;
    clear: both;
}

/* Main title of the subarea (Dispositivo (Interfaz/tecnología))*/

#Dispositivo1, #Dispositivo2, #Dispositivo3, #Dispositivo4, #Dispositivo5, #Dispositivo6, #Dispositivo7 { /* Appearance */
    color: #FFCB9A; /* color-primary-7 */
    font-weight: 900;
    grid-row: 1;
    width: 20px;
}

#Dispositivo1, #Dispositivo3, #Dispositivo5, #Dispositivo7{ /* Position: LEFT*/
    grid-column: 1 / 2;
}

#Dispositivo2, #Dispositivo4, #Dispositivo6{ /* Position: RIGHT */
    grid-column: 2;
}

/* Main title of every subarea (Gadget) */

#Gadget1, #Gadget2, #Gadget3, #Gadget4, #Gadget5, #Gadget6, #Gadget7 { /* Appearance */
    font-family: 'Roboto Thin Italic';
    font-size: 30px;
    color: #D1E8E2; /* .color-primary-8 */
    grid-row: 1;
    padding-left: 260px;
}

#Gadget1, #Gadget3, #Gadget5, #Gadget7{ /* Position: LEFT */
    grid-column: 1 / 1;
}

#Gadget2, #Gadget4, #Gadget6 { /* Position: RIGHT */
    grid-column: 2;
}

/* 'Primera Aparición' subtitle */

#Title1_1, #Title2_1, #Title3_1, #Title4_1, #Title5_1, #Title6_1, #Title7_1 { /* Appearance */
    color: #D9B08C; /* .color-primary-9 */
    padding-top: 10px;
    grid-row: 3;
}

#Title1_1, #Title3_1, #Title5_1, #Title7_1 { /* Position: LEFT */
    grid-column: 1 / 1;
}

#Title2_1, #Title4_1, #Title6_1 { /* Position: RIGHT */
    grid-column: 2;
}

/* Value of the first appearance*/

#Value1, #Value3, #Value5, #Value7{ /* LEFT */
    color: white;
    margin-top: 31px;
    grid-column: 1 / 1;
    grid-row: 3;
    text-align: center;
}

#Value2, #Value4, #Value6{ /* RIGHT */
    color: white;
    margin-top: 31px;
    grid-column: 2;
    grid-row: 3;
    text-align: center;
}

/* Subtitles and description of every gadget first appearance */

/* ======== The ones on the LEFT ========  */

#Title1_2, #Text1, #Title3_2, #Text3, #Title5_2, #Text5, #Title7_2, #Text7{
    color: white;
    grid-column: 1 / 1;
    max-height: 80px;
    width: 500px;
}

#Title1_2, #Title3_2, #Title5_2, #Title7_2 {
    grid-column: 1 / 1;
    grid-row: 4;
}

#Text1, #Text3, #Text5, #Text7{
    grid-column: 1 / 1;
    grid-row: 5;
}

/* ======== The ones on the RIGHT ========  */

#Title2_2, #Text2, #Title4_2, #Text4, #Title6_2, #Text6{
    color: white;
    grid-column: 2;
}

#Title2_2, #Title4_2, #Title6_2 {
    grid-column: 2;
    grid-row: 4;
}

#Text2, #Text4, #Text6{
    grid-column: 2;
    grid-row: 5;
    width: 90%;
}

/* Color Titles 'Necesidad' */

#Title1_2, #Title2_2, #Title3_2, #Title4_2, #Title5_2, #Title6_2, #Title7_2{
    color: #D9B08C;
}

/* Dispositivo - Primera Aparición - Necesidad */
#Title1_1, #Title2_1, #Title3_1, #Title4_1, #Title5_1, #Title6_1, #Title7_1 , 
.need_title_main ,
#Title1_2, #Title2_2, #Title3_2, #Title4_2, #Title5_2, #Title6_2, #Title7_2 {
    font-family: 'Roboto Thin Italic';
    font-style: italic;
    text-decoration: underline;
}

/* Parameters of the videos and the image */

.media{
    padding: 20px 20px 20px 10px;
    width: 500px;
    height: 300px;
    float: right;
}

#media1, #media3, #media5, #media7{
    grid-row: 1 / 6;
    grid-column: 2;
    margin-left: 80px;
}

#media2, #media4, #media6{
    grid-row: 1 / 6;
    grid-column: 1;
}

/* 
 =========================================================
 Tecnologias Area
 ========================================================= */

/* Numbers of the reference links (1,2,3) */

.link_Technology{
    color: yellow;
}

/* Subsection titles underlined */

.subsection_title {
    padding-left: 10px;
    margin-left: 10px;
    
    font-style: italic;
    text-decoration: underline;
    
    padding-right: 10px;
    margin-right: 10px;
}

/* 
 =========================================================
 Referencias Area
 ========================================================= */

/* Content of the total area */

.referencias{
  margin-left: 60px;
}

/* References link description titles */

.autor, .titulo{
  font-style: italic;
  color: #FFFFFF;
}

/* Format of the 3 different links */

#ref1 .link {
  margin-left: 80px; 
}

#ref2 .link {
  margin-left: 60px; 
}

#ref3 .link {
  margin-left: 40px; 
}

/* Format of the 'last visited' text (ultima visita) */

#ref1 .visita {
  margin-left: 130px; 
}

#ref2 .visita {
  margin-left: 60px; 
}

#ref3 .visita {
  margin-left: 207px; 
}

/* Default settings for links in this area */

.link a{
    color: #007FFF;
}

/* Default settings for links in this area when mouse is over them */

.link a:hover{
    color: #BFFF00;
}

/* Default settings for links in this area after they are clicked */

.link a:visited{
    color: #551a8b;
}

