/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/* ==========================================================================
   Colors Used
   ========================================================================== */

/* As hex codes */

.color-primary-1 { color: #2C3539 } /* gunmetal gray */
.color-primary-2 { color: #F9F9FF } /* dark white */
.color-primary-3 { color: #116466 } /* blue sapphire */
.color-primary-4 { color: #D9B08C } /* peach-orange */
.color-primary-5 { color: #FFFFFF } /* white */
.color-primary-6 { color: #000000 } /* black */
.color-primary-7 { color: #FFCB9A } /* light peach-orange */
.color-primary-8 { color: #D1E8E2 } /* light blue green */
.color-primary-9 { color: #D9B08C } /* dark grey peach-orange */


/* ==========================================================================
   Fonts Used
   ========================================================================== */

@font-face{
    font-family: 'Barlow';
    src: url('../fonts/Technology/Barlow/Barlow-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Barlow Thin';
    src: url('./fonts/Technology/Barlow/Barlow-Thin.ttf') format('truetype');
}

@font-face{
    font-family: 'Barlow Thin Italic';
    src: url('./fonts/Technology/Barlow/Barlow-Thin.ttf') format('truetype');
}

@font-face{
    font-family: 'Barlow Medium';
    src: url('./fonts/Technology/Barlow/Barlow-Medium.ttf') format('truetype');
}


@font-face{
    font-family: 'Roboto';
    src: url('./fonts/Technology/Roboto/Roboto-Thin.ttf') format('truetype');
}

@font-face{
    font-family: 'Roboto Thin Italic';
    src: url('./fonts/Technology/Roboto/Roboto-ThinItalic.ttf') format('truetype');
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* Body of all the content in the page */

body{
    background-color: #2C3539; /* color-primary-1*/
	font-size: 100%;
    
    margin: 0 auto; /* IMPORTANT --> these two things to make it centered and static */
    width:  1260px;
}

/* Anchor to go up to the front of the page */

.to_top{
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  width: 45px;
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  background: transparent;
  padding: 15px; /* Some padding */
  border-radius: 30px; /* Rounded corners */
  font-size: 80px; /* Increase font size */
}

/* 
 =========================================================
 Header
 ========================================================= */

/* Header of the webpage */

nav {
  font-size: 20px;
  font-family: 'Barlow Medium', sans-serif;
    
  padding-top: 19px;
  margin-top: 10px;
    
  padding-bottom: 10px;
  margin-bottom: 10px;
    
  text-align: center;
  text-transform: uppercase;
}

/* Highlights the links to the different sections when the mouse arrow is over it (Sinopsis, Necesidades, ...)*/

#top a:link, #top a:visited  {
    padding: 14px;
    text-align: center;
    color: #F9F9FF; /* color-primary-2 */
    text-decoration: none;
    display: inline-block;
}

#top a:hover, #top.a:active {
    background-color: #116466; /* .color-primary-3 */
}

/* 
 =========================================================
 All sections
 ========================================================= */

/* Content of the different areas */

#Sinopsis , #Necesidades , #Tecnologias, #Impacto, #Referencias{
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #116466; 
    color: #D9B08C; /* .color-primary-4 */
}

/* Titles of the different areas */

.section_title{
    margin-bottom: 30px;
    text-align: center;
    padding-left: 30px;
    padding-top: 20px;
    background-color: #2C3539; 
    font-family: 'Barlow Thin';
    font-size: 30px;
    
    color: #D9B08C; 
    height: 70px;
}

#Sinopsis_Title, #Necesidades_Title, #Impacto_Title, #Tecnologias_Title, Referencias_Title{
    height: 60px;
    padding-top: 10px;
}

.section_text, .subsection_text{
    color: #FFFFFF; /* color-primary-5 */
    padding-left: 20px;
    margin-left: 20px;
    
    padding-right: 20px;
    margin-right: 20px;
}

/* 
 =========================================================
 Necesidades Area
 ========================================================= */

/* Subareas of the main area 'Necesidades' (Gadget1, Gadget2, ...)*/

.need{
  padding-top: 19px;
  margin-top: 10px;
    
  padding-bottom: 10px;
  margin-bottom: 10px;
    
  padding-left: 20px;
  margin-left: 20px;
    
  padding-right: 20px;
  margin-right: 20px;
    
  /* Grid-area created for every Gadget --> 6 rows and 2 columns */
    
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(50px, 0px);
  grid-column-gap: 10px;
  margin-top: 20px;
  margin-bottom: 100px;
}

/* Line that separates each gadget description */

.separador{
    color: #000000; /* color-primary-6 */
    width: 1060px;
    margin-top: 50px;
    overflow: visible;
    clear: both;
}

/* Main title of the subarea (Dispositivo (Interfaz/tecnología))*/

.need_title_main{
    color: #FFCB9A; /* color-primary-7 */
    font-weight: 900;
    grid-column: 1 / 2;
    grid-row: 1;
}

/* Main title of every subarea (Gadget) */

.need_value_main{
    font-family: 'Roboto Thin Italic';
    text-decoration: underline;
    color: #D1E8E2; /* .color-primary-8 */
    grid-column: 1 / 1;
    grid-row: 2;
}

/* 'Primera Aparición' subtitle */

#Title1_1, #Title2_1, #Title3_1, #Title4_1, #Title5_1, #Title6_1, #Title7_1{
    color: #D9B08C; /* .color-primary-9 */
    grid-column: 1 / 1;
    grid-row: 3;
}

/* Value of the first appearance*/

#Value1, #Value2, #Value3, #Value4, #Value5, #Value6, #Value7{
    color: white;
    margin-top: 21px;
    grid-column: 1 / 1;
    grid-row: 3;
    text-align: center;
}

/* Subtitles and description of every gadget first appearance */

#Title1_2, #Text1, #Title2_2, #Text2, #Title3_2, #Text3, #Title4_2, #Text4, #Title5_2, #Text5, #Title6_2, #Text6, #Title7_2, #Text7{
    color: white;
    grid-column: 1 / 1;
}

#Title1_2, #Title2_2, #Title3_2, #Title4_2, #Title5_2, #Title6_2, #Title7_2{
    color: #D9B08C;
}

/* Parameters of the videos and the image */

.media{
    grid-column: 2;
    grid-row: 1 / 6;
    padding: 20px 20px 20px 110px;
    width: 500px;
    height: 300px;
    float: right;
}

/* 
 =========================================================
 Tecnologias Area
 ========================================================= */

.link_Technology{
    color: yellow;
}

.subsection_title {
    padding-left: 10px;
    margin-left: 10px;
    
    font-style: italic;
    text-decoration: underline;
    
    padding-right: 10px;
    margin-right: 10px;
}

/* 
 =========================================================
 Referencias Area
 ========================================================= */

.link a{
    color: azure;
}

