/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

body{
	background-color: #EEEEEE;
	font-family: 'Oxygen';
	font-size: 100%;
    
    padding-left: 40px;
    margin-left: 40px;
    
    padding-right: 40px;
    margin-right: 40px;
}

/* Solves the special characters not being recognized */

@charset "utf-8";

/* 
 =========================================================
 Header
 ========================================================= */

nav {
  font-size: 20px;

  padding-top: 19px;
  margin-top: 10px;
    
  padding-bottom: 10px;
  margin-bottom: 10px;
    
  padding-left: 40px;
  margin-left: 40px;
    
  padding-right: 40px;
  margin-right: 40px;
    
  text-align: center;
  text-transform: uppercase;
    
  background-color: darkgrey;
}

/* Highlights the links to the different sections when the mouse arrow is over it (Sinopsis, Necesidades, ...)*/

#top a:link, #top a:visited  {
    padding: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#top a:hover, #top.a:active {
    background-color: orangered;
}

/* 
 =========================================================
 All sections
 ========================================================= */

#Sinopsis , #Necesidades , #Tecnologias, #Impacto, #Referencias{
    padding-top: 10px;
    margin-top: 10px;
    
    padding-left: 20px;
    margin-left: 20px;
    
    padding-right: 20px;
    margin-right: 20px;
}

/* 
 =========================================================
 Necesidades Area
 ========================================================= */

/* Grid-area created for every Gadget --> 6 rows and 2 columns */

#Gadget1, #Gadget2, #Gadget3, #Gadget4, #Gadget5, #Gadget6, #Gadget7{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(50px, 0px);
  grid-column-gap: 10px;
  margin-top: 20px;
  margin-bottom: 100px;
}

/* Line that separates each gadget description */

.separador{
    color: black;
    width: 1300px;
    margin-top: 50px;
    overflow: visible;
    clear: both;
}

.need_title_main{
    grid-column: 1 / 2;
    grid-row: 1;
}

.need_value_main{
    grid-column: 1 / 1;
    grid-row: 2;
}

#Title1_1, #Title2_1, #Title3_1, #Title4_1, #Title5_1, #Title6_1, #Title7_1{
    grid-column: 1 / 1;
    grid-row: 3;
}

#Value1, #Value2, #Value3, #Value4, #Value5, #Value6, #Value7{
    grid-column: 1 / 1;
    grid-row: 4;
}

#Title1_2, #Text1, #Title2_2, #Text2, #Title3_2, #Text3, #Title4_2, #Text4, #Title5_2, #Text5, #Title6_2, #Text6, #Title7_2, #Text7{
    grid-column: 1 / 1;
}

#video1, #img1, #video2, #video3, #video4, #video5, #video6{
    grid-column: 2;
    grid-row: 1 / 6;
    padding: 20 20 20 110;
    width: 500px;
    height: 300px;
    float: right;
}

/* 
 =========================================================
 Tecnologias Area
 ========================================================= */

#Tecnologias{
    grid-area: tecnologiasGrid;
}

/* 
 =========================================================
 Impacto Area
 ========================================================= */

#Impacto{
    grid-area: impactoGrid;
}

/* 
 =========================================================
 Referencias Area
 ========================================================= */

#Referencias{
    background-color: white
}


