/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/**/
/* Color: Light Peach or Grey */
body {
	background-color: #EEEEEE;
	font-family: 'Oxygen';
	font-size: 100%;
}

div.title h2{
    font-family: 'Century Gothic';
    float: left;
    font-size: 39px;
    float: left;
}

div.image{
    content: url(59bed6cf7a216d0b052f1264.png);
    width: 230px;
    height: 150px;
    float: left;
    padding-left: 304px;
}

/* 
 =========================================================
 Header
 ========================================================= */

#top{
  max-width: 1200px;
  min-width: 1000px;
  margin: 450 auto;
  padding: 15px 200px 10px 20px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  margin-top: 300px;
  display: inline;
  grid-template-columns: 30% auto;
  text-transform: uppercase;
}

/* Highlights the links to the different sections when the mouse arrow is over it (Sinopsis, Necesidades, ...)*/

#top a:link, #top a:visited  {
    padding: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#top a:hover, #top.a:active {
    background-color: orangered;
}

/* 
 =========================================================
 Sinopsis Area
 ========================================================= */

#Sinopsis{
    padding-top: 5px;
    margin-top: 50px;
    grid-area: sinopsisGrid;
    background-color: aqua;
}

/* Text content of this area*/

#Sinopsis.section p {
    background-color: peru
}

/* 
 =========================================================
 Necesidades Area
 ========================================================= */

#Necesidades{
    grid-area: necesidadesGrid;
    background-color: red
}

/* 
 =========================================================
 Tecnologias Area
 ========================================================= */

#Tecnologias{
    grid-area: tecnologiasGrid;
    background-color: yellow
}

/* 
 =========================================================
 Impacto Area
 ========================================================= */

#Impacto{
    grid-area: impactoGrid;
    background-color: blue
}

/* 
 =========================================================
 Referencias Area
 ========================================================= */

#Referencias{
    grid-area: referenciasGrid;
    background-color: purple
}


